# App specfic
data/
versions/

# Byte-compiled
__pycache__/

# Distribution / packaging
build/
dist/
lib/
lib64/
output/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
dev_venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.idea/
.vscode/
