:root {
    --primary-bg-color: #2d728f;
    --primary-header-footer-bg-color: black;
    --primary-text-color: white;
    --secondary-text-color: #f5eea5;
    --secondary-bg-color: #efbbe3
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-bg-color);
}

a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

header {
    padding: 10px;
    background-color: var(--primary-header-footer-bg-color);
    color: var(--primary-text-color);
}

header h1 {
    margin: 5px 0px;
}

section {
    margin: 10px;
}

#platformDropdown, #downloadButton {
    background-color: pink;
}

#downloadButton {
    border-radius: 10px;
    border: 0px;
}

::selection {
    background-color: pink;
}

#platformDropdown option:checked {
    background-color: #2d728f;
    color: pink;
}

.release {
    color: white;
    background-color: #211e1e;
    padding: 5px 10px;
    border: 6px solid #000;
    border-radius: 20px;
    margin: 10px 0px;
}

.release .info {
    display: flex;
    flex-wrap: wrap;
}

.release .info div {
    margin: 5px;
}

.release a {
    color: rgb(36, 118, 185);
    margin: 0px;
    text-decoration: dashed;
}

.downloadbtn {
    background-color: rgb(36, 118, 185);
    border-radius: 12px;
    border: 0px;
}

@media (max-width: 296px) {
    html, body {
        width: 296px;
    }
}
